<h1><%= name %> habitacion</h1>
<%= form_for @habitacions do |f|%>
  <% if @habitacions.errors.any? %>
    <div id = "errores_creacion_habitacion" >
      <%= pluralize(@habitacions.errors.count, "Errores") %>
      <ul>
        <% @habitacions.errors.full_messages.each do |error| %>
          <li ><%= error %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :numero_habitacion, placeholder: "Numero de la habitacion", class:"form-control" %>
  </div>
  <div class="field">
    <%= f.text_field :descripcionHabitacion, placeholder: "Descripción de la Habitación", class:"form-control" %>
  </div>
  <div class="field">
    <%= f.text_field :numeroPersonas, placeholder: "Número de personas para la habitación" , class:"form-control" %>
  </div>
  <div class="field">
    <%= f.text_field :tipoHabitacion, placeholder: "Tipo de habitación", class:"form-control" %>
  </div>
  <div class="field">
    <%= f.text_field :tarifa_habitacion, placeholder: "Tarifa de la habitación", class:"form-control" %>
  </div>
  <div class="field">
    <%= f.select :estado_habitacion, ['disponible','reservada']%>
  <div class = "field">
    <div class = "field">
    <%= f.submit "Guardar", class:"btn btn-success" %>
    </div>
  </div>
  <div class = "btn btn-info">
    <%= link_to "Volver", habitacions_url %>
  </div>
<% end %>
