<body id = "fondo_habitaciones">
  <div id = "contener_habitaciones">
    <!-- se muestran solo las habitaciones disponibles -->
    <% if user_signed_in? && current_user.user? %>
      <div class = "btn be-red white" id = "boton_reservar">
        <%= link_to "¿Realizar una reserva?", new_reserva_path %>
      </div>
      <div class = "btn be-red white" id = "boton_reservar">
        <%= link_to "Mis reservas", reservas_url %>
      </div>
    <% end %>
    <% if user_signed_in? && current_user.admin? %>
      <div class="btn be-red white">
        <%= link_to "Crear Habitacion", new_habitacion_path %>
      </div>
    <% end %>
    <% if user_signed_in? && current_user.admin? %>
      <table class = "table">
          <thead>
            <tr>
              <th> Código </th>
              <th> Número </th>
              <th> Descipción </th>
              <th> Cantidad de personas </th>
              <th> Tipo </th>
              <th> Tarifa $ </th>
              <th> Estado </th>
              <th> Status </th>
            </tr>
          </thead>
        <tbody>
          <% @habitacions.each do |habitacion| %>
          <thead>
            <tr>
              <td> <%= habitacion.id %> </td>
              <td> <%= habitacion.numero_habitacion %> </td>
              <td> <%= habitacion.descripcionHabitacion %> </td>
              <td> <%= habitacion.numeroPersonas %> </td>
              <td> <%= habitacion.tipoHabitacion %> </td>
              <td> <%= habitacion.tarifa_habitacion %> </td>
              <td> <%= habitacion.estado_habitacion %> </td>
              <td> <%= habitacion.status_habitacion %> </td>
              <td> <%= link_to "VER", habitacion, class:"btn btn-success" %> </td>
              <td> <%= link_to "Editar", edit_habitacion_path(habitacion), class: "btn btn-info" %> </td>
            </tr>
          </thead>
          <% end %>
        </tbody>
      </table>
       <% else %>
          <table class = "table">
            <thead>
              <tr>
                <th> Código </th>
                <th> Número </th>
                <th> Descipción </th>
                <th> Cantidad de personas </th>
                <th> Tipo </th>
                <th> Tarifa $</th>
              </tr>
            </thead>
            <tbody>
               <% @habitacions.each do |habitacion| %>
                  <% if habitacion.disponible? && habitacion.activa? %>
                      <thead>
                        <tr>
                          <td> <%= habitacion.id %> </td>
                          <td> <%= habitacion.numero_habitacion %> </td>
                          <td> <%= habitacion.descripcionHabitacion %> </td>
                          <td> <%= habitacion.numeroPersonas %> </td>
                          <td> <%= habitacion.tipoHabitacion %> </td>
                          <td> <%= habitacion.tarifa_habitacion %> </td>
                          <td> <%= link_to "VER", habitacion , class:"btn btn-success" %> </td>
                        </tr>
                      </thead>
                  <% end %>
                <% end %>
            </tbody>
          </table>
    <% end %>
    </div>
</body>
