<% @habitacions.each do |habitacion|%>
  <!-- se muestran solo las habitaciones disponibles -->
  <%if habitacion.disponible? %>
    <h1><%= habitacion.id %></h1>
    <div>
      <%= "Descripci贸n de la habitacion: " %>
      <%= habitacion.descripcionHabitacion %>
    </div>
    <div>
      <%= "Cantidad de personas: " %>
      <%= habitacion.numeroPersonas %>
    </div>
    <div>
      <%= "Tipo de habitaci贸n: " %>
      <%= habitacion.tipoHabitacion %>
    </div>
    <div>
      <%= "La habitaci贸n esta " %>
      <%= habitacion.estado_habitacion%>
    </div>
    <div>
      <%= "Tarifa de la habitaci贸n: $" %>
      <%= habitacion.tarifa_habitacion%>
    </div>
    <%end%>
<%end%>


<!-- <body>
<div id = "titulo">
  <h1>Habitaciones</h1>
</div>
 The four columns
<div class="row">
  <div class="column">
    <img src="https://q-ec.bstatic.com/images/hotel/max500/124/124621905.jpg" alt="" style="width:100%" class="img-circle" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="https://q-ec.bstatic.com/images/hotel/max1024x768/124/124621797.jpg" alt="" style="width:100%" class="img-circle" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="https://q-ec.bstatic.com/images/hotel/max1024x768/162/162618968.jpg" alt="" style="width:100%" class="img-circle" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="https://q-ec.bstatic.com/images/hotel/max1024x768/122/122061111.jpg" alt="" style="width:100%" class="img-circle" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="https://q-ec.bstatic.com/images/hotel/max1024x768/121/121929555.jpg" alt="" style="width:100%" class="img-circle" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="https://r-ec.bstatic.com/images/hotel/max1024x768/162/162619531.jpg" alt="" style="width:100%" class="img-circle" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="https://r-ec.bstatic.com/images/hotel/max1024x768/121/121929548.jpg" alt="" style="width:100%" class="img-circle" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="https://r-ec.bstatic.com/images/hotel/max1024x768/122/122061115.jpg" alt="" style="width:100%" class="img-circle" onclick="myFunction(this);">
  </div>
</div>



<div class = "container" id="containerImagen">
  <span onclick="this.parentElement.style.display='none'" id="closebtnImagen">&times;</span>
  <img id="expandedImg" style="width:100%">
  <div id="imgtext"></div>
</div>
</body>
-->
