<body id = "fondo_habitaciones">
  <div id = "contener_habitaciones">
    <!-- se muestran solo las habitaciones disponibles -->
    <% if user_signed_in? && current_user.user? %>
      <div class = "btn be-red white" id = "boton_reservar">
        <%= link_to "¿Realizar una reserva?", new_reserva_path %>
      </div>
      <div class = "btn be-red white" id = "boton_reservar">
        <%= link_to "Mis reservas", reservas_url %>
      </div>
    <% end %>
    <% if user_signed_in? && current_user.admin? %>
      <div class="btn be-red white">
        <%= link_to "Crear Habitacion", new_habitacion_path %>
      </div>
      <p> <!-- salto de linea --> </p>
      <p>pulse el número de la habitación para editar o eliminar</p>
    <% end %>
    <% @habitacions.each do |habitacion| %>
      <% if habitacion.disponible? %>
        <% if user_signed_in? && current_user.admin? %>
          <h1><%= link_to habitacion.id, habitacion %></h1>
          <div>
            <%= "Numero de la habitacion: " %>
            <%= habitacion.numero_habitacion %>
          </div>
        <% else %>
          <h1><%= habitacion.numero_habitacion %></h1>
        <% end %>
        <div>
          <%= "Descripción de la habitacion: " %>
          <%= habitacion.descripcionHabitacion %>
        </div>
        <div>
          <%= "Cantidad de personas: " %>
          <%= habitacion.numeroPersonas %>
        </div>
        <div>
          <%= "Tipo de habitación: " %>
          <%= habitacion.tipoHabitacion %>
        </div>
        <div>
          <%= "La habitación esta " %>
          <%= habitacion.estado_habitacion%>
        </div>
        <div>
          <%= "Tarifa de la habitación: $" %>
          <%= habitacion.tarifa_habitacion %>
        </div>
        <% if user_signed_in? && current_user.user? %>
          <div>
            <%= "Codigo habitacion" %>
            <%= habitacion.id %>
          </div>
        <% end %>
      <% end %>
      <% if habitacion.reservada? && user_signed_in? && current_user.admin? %>
      <h1><%= link_to habitacion.id, habitacion %></h1>
      <div>
        <%= "Numero de la habitacion: " %>
        <%= habitacion.numero_habitacion %>
      </div>
      <div>
        <%= "Descripción de la habitacion: " %>
        <%= habitacion.descripcionHabitacion %>
      </div>
      <div>
        <%= "Cantidad de personas: " %>
        <%= habitacion.numeroPersonas %>
      </div>
      <div>
        <%= "Tipo de habitación: " %>
        <%= habitacion.tipoHabitacion %>
      </div>
      <div>
        <%= "La habitación esta " %>
        <%= habitacion.estado_habitacion%>
      </div>
      <div>
        <%= "Tarifa de la habitación: $" %>
        <%= habitacion.tarifa_habitacion %>
      </div>
      <% end %>
  <% end %>
 </div>
</body>
