<body id = "fondo_habitaciones">
  <div id = "contener_habitaciones">
      <table class = "table">
        <thead>
        <tr>
          <th> Código </th>
          <th> Número </th>
          <th> Descipción </th>
          <th> Cantidad de personas </th>
          <th> Tipo </th>
          <th> Tarifa $ </th>
        </tr>
        </thead>
        <tbody>
          <thead>
          <tr>
            <td> <%= @habitacions.id %> </td>
            <td> <%= @habitacions.numero_habitacion %> </td>
            <td> <%= @habitacions.descripcionHabitacion %> </td>
            <td> <%= @habitacions.numeroPersonas %> </td>
            <td> <%= @habitacions.tipoHabitacion %> </td>
            <td> <%= @habitacions.tarifa_habitacion %> </td>
          </tr>
          </thead>
        </tbody>
      </table>
      <div class="field" id = "centrar_imagen_habitacion">
        <%= link_to image_tag(@habitacions.photo.url(:thumb)), @habitacions.photo.url %>
      </div>
      <div class = "btn btn-info">
        <%= link_to "Volver", habitacions_url %>
      </div>
  </div>
</body>
