<body id = "fondo_registro_habitacion">
  <div id = "contener_reservas">
    <% if !user_signed_in? %>
      <!-- para no crear id error otra vez, uso el de habitación -->
      <div id ="errores_creacion_habitacion">
        <h1> WOOOOOOOPS!, NADA POR AQUÍ </h1>
      </div>
    <% end %>
    <%if user_signed_in? && current_user.admin? %>
      <h1> Reservas </h1>
      <p> <!-- salto de linea --> </p>
      <p>pulse el número de la reserva para editar o eliminar</p>
      <table class = "table">
        <thead>
          <tr>
            <th> ID Reserva </th>
            <th> ID habitacion </th>
            <th> Numero habitacion </th>
            <th> ID Usuario </th>
            <th> Fecha de ingreso </th>
            <th> Fecha de salida </th>
            <th> Estado reserva </th>
          </tr>
        </thead>
        <tbody>
          <% @reservas = Reserva.all %>
          <% @reservas.each do |reserva| %>
          <tr>
            <td> <%= link_to reserva.id, reserva %> </td>
            <td> <%= reserva.habitacions_id %> </td>
            <td> <%= reserva.habitacion_numero %> </td>
            <td> <%= reserva.users_id %> </td>
            <td> <%= reserva.fecha_ingreso %> </td>
            <td> <%= reserva.fecha_salida %> </td>
            <td> <%= reserva.estado_reserva %> </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <% if user_signed_in? && current_user.user? %>
      <h1> Mis Reservas </h1>

      <%flash.each do |name, msg| %>
        <div class="alert alert-<%= name %>">
          <%= msg %>
        </div>
      <% end %>

      <table class = "table">
        <thead>
          <tr>
            <th> Editar </th>
            <th> Codigo habitacion </th>
            <th> Numero habitacion </th>
            <th> Fecha de ingreso </th>
            <th> Fecha de salida </th>
            <th> Estado reserva </th>
          </tr>
        </thead>
        <tbody>
          <% @reservas = Reserva.all %>
          <% @reservas.each do |reserva| %>
            <% if reserva.users_id == current_user.id %>
              <% if reserva.vigente? %>
                <tr>
                  <td> <%= link_to "editar", reserva %> </td>
                  <td> <%= reserva.habitacions_id %> </td>
                  <td> <%= reserva.habitacion_numero %> </td>
                  <td> <%= reserva.fecha_ingreso %> </td>
                  <td> <%= reserva.fecha_salida %> </td>
                  <td> <%= reserva.estado_reserva %> </td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</body>
