<div style="width: 80%;margin: 0 auto;">
  <h1>Hacer Reserva</h1>
  <%= form_for @reservas do |f|%>
    <% if @reservas.errors.any? %>
      <div id = "errores_creacion_reserva" >
        <%= pluralize(@reservas.errors.count, "Errores") %>
        <ul>
          <% @reservas.errors.full_messages.each do |error| %>
            <li ><%= error %> </li>
          <%end%>
        </ul>
      </div>
    <%end%>
    <div class="field">
      <%= f.label :fechaIngreso, "Fecha de entrada" %><br />
      <%= f.date_select :fechaIngreso,:use_two_digit_numbers => true ,:order => [:day, :month, :year],:start_year => Time.now.year %><br />
    </div>
    <div class="field">
      <%= f.label :fechaSalida, "Fecha de salida" %><br />
      <%= f.date_select :fechaSalida,:use_two_digit_numbers => true ,:order => [:day, :month, :year],:start_year => Time.now.year %><br />
    </div>
    <div class="field">
      <%= f.label :cantidadPersonas, "Cantidad de personas" %><br />
      <%= f.number_field :cantidadPersonas, class:"form-control-cant" %>
    </div>
    <div class="field">
      <%= f.label :cantidadHabitaciones, "Cantidad de Habtaciones" %><br />
      <%= f.number_field :cantidadHabitaciones, class:"form-control-cant" %>
    </div>
    <div class = "field">
      <%= f.submit "Guardar", class:"btn be-red white" %>
    </div>
  <%end%>
</div>