<body id = "fondo_habitaciones">
<div id = "contener_habitaciones">
    <h1><%= @reservas.id %></h1>
    <div>
      <%= @reservas.habitacions_id %>
    </div>
    <div>
      <%= @reservas.fecha_ingreso %>
    </div>
    <div>
      <%= @reservas.fecha_salida %>
    </div>
    <div class = "btn btn-info" id = "boton_guardado_error">
      <%= link_to "Editar", edit_reserva_path(@reservas) %>
    </div>
</div>
</body>
