<body id = "fondo_habitaciones">
<div id = "contener_habitaciones">
  <table class = "table">
    <thead>
    <tr>
      <th> Numero habitacion </th>
      <th> Fecha de ingreso </th>
      <th> Fecha de salida </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td> <%= @reservas.habitacion_numero %> </td>
      <td> <%= @reservas.fecha_ingreso.day %> <%= "/" %> <%= @reservas.fecha_ingreso.month %> <%= "/" %> <%= @reservas.fecha_ingreso.year %>  </td>
      <td> <%= @reservas.fecha_salida.day %> <%= "/" %> <%= @reservas.fecha_salida.month %> <%= "/" %> <%= @reservas.fecha_salida.year %> </td>
    </tr>
    </tbody>
  </table>
  <div class = "btn btn-info">
    <%= link_to "Volver", reservas_url %>
  </div>
</div>
</body>
