<body id = "fondo_habitaciones">
<div id = "contener_habitaciones">
  <% if user_signed_in? && current_user.admin? %>
    <h1><%= @users.id %></h1>
    <div>
      <%= @users.nombres_apellidos %>
    </div>
    <div>
      <%= @users.nick_name %>
    </div>
    <div>
      <%= @users.direccion %>
    </div>
    <div>
      <%= @users.telefono %>
    </div>
    <div>
      <%= @users.fecha_nacimiento %>
    </div>
    <div>
      <%= @users.email %>
    </div>
    <div>
      <%= @users.user_role %>
    </div>
    <div>
      <%= @users.estado_user %>
    </div>
    <div class = "btn btn-info" id = "boton_guardado_error">
      <%= link_to "Editar", edit_user_path(@users) %>
    </div>
  <%end%>
</div>
</body>