<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div id = "contacto">
  <p> <%= @direccion %></p>
  <p> <%= @fono %> </p>
</div>

<div class = "container">
  <div id = "titulo" class = "page-header">
    <h1>Hostal My House<h1>
  </div>
</div>





<div id = "mySidenav" class = "sidenav">
  <a href= <%= @nosotros %> id= "info">Nosotros</a>
  <a href= <%= @face %> id="Face">Facebook</a>
  <a href= <%= @booking %> id="booking">Booking</a>
</div>
